# .gitignore
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log
*.sql
*.sqlite
*.mysql


# Environments
.env
.env/*
env/
env/*

/formail.py

# Migrations
migrations/

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
